/** Reset **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
strong{ font-weight:bold; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html { overflow-y:scroll; }
input[type=submit],label,select{ cursor:pointer; }
html,body,div,p,h1,h2,h3,h4,span,ul,ol,li,dl,dd,dt,img,br,a,form, input[type=text],input[type=checkbox],input[type=radio],input[type=password], textarea, button, label { margin:0; padding:0; border:0; }
html,body{
	width:100%;
	height:100%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	text-align:left;
	color:#444;
}
img, input[type=checkbox], input[type=radio] { vertical-align:middle; }
ul,ol,dl{ list-style-type:none; }
.input.text input,.input.password input,.input textarea,.input select, .mceEditor {
	width:95%;
	padding: 6px;
	margin:0;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	box-shadow: rgba(0,0,0, 0.05) 0px 0 2px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0 2px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 2px;
	background: #FFF url(/img/inputBg.jpg) left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
}

.input.text input:hover,.input.password input:hover,.input textarea:hover,.input select:hover,
.input.text input:focus,.input.password input:focus,.input textarea:focus,.input select:focus{ 
	border-color: #c0c0c0; 
	box-shadow: rgba(0,0,0, 0.15) 0px 0px 2px;
	-moz-box-shadow: rgba(0,0,0, 0.15) 0px 0px 2px;
	-webkit-box-shadow: rgba(0,0,0, 0.15) 0px 0px 2px;
}
.mceEditor{ display:block;padding:0;background:none;	} /* Outline fix for validation errors */

label, .label { display:block;padding: 6px 0;vertical-align:middle; }

.fltrt { float:right;width:auto; }
.fltlft { float:left;width:auto; }
.hide { display:none; }
.error { color:red; }
.input { padding: 3px 0; }
.radio label, .checkbox label, .input select{ display:inline;width:auto; }
.radio label, .checkbox label { margin-right:10px; }
.clear { overflow:hidden; }
div.atclear{ clear:none; }

.fixbox {
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.ib { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; }

.legend { font-size:80%;color:#AAA; }
.win { border:#A7EDA5 solid 1px; background:#DDFFDE;padding:4px 10px; }
.warning { border:#FFDC93 solid 1px; background:#FFFDDD;padding:4px 10px; }
.fail { border:#FFA08F solid 1px; background:#FFE9E5;padding:4px 10px; }

.invalidForm {
	padding:8px 10px 8px 31px;
	background:#f99 url(/img/admin/no.png) no-repeat scroll 9px center;
	color:#FFE9E5;
	font-size:13px;
	font-weight:bold;
}

.tagCloud{
	padding:16px 6px;
}
.tagLink{
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:3px 6px;
	margin:0 0 4px 0;
	background:#DDD;
}

form.catalog .select.cuteCheckboxInit .checkbox input { position:absolute;z-index:-999; }
form.catalog .select.cuteCheckboxInit .checkbox { display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;margin:0 2px 4px 0;padding:0; }
form.catalog .select.cuteCheckboxInit .checkbox label,
form.catalog .select.cuteCheckboxInit .checkbox .label {
	display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline;
	padding:4px 6px 4px 26px;
	margin:0;
	background:#ddd url(/img/admin/minus.png) no-repeat 5px center;
	min-height:9px;
}
form.catalog .select.cuteCheckboxInit .checkbox label.checked,
form.catalog .select.cuteCheckboxInit .checkbox .label.checked {
	background-color:#A7EDA5;
	background-image:url(/img/admin/yes.png);
}

/** Tips **/

.input_error.input.checkbox label,
.input_error.input.checkbox .label { color:red;text-decoration:underline;font-weight:bold; }

.validationError,
.error-message { padding:0 15px;color:red;font-weight:bold; }

.input input[type].input_error,
.input input[type].form-error,
.input textarea.input_error { border:#F55 solid 2px; }

.tooltip { z-index:150;max-width:320px;width:expression(this.width > 320 ? 320: true); text-align:center; }
.tooltip .tip {
	background-color:#333;
	color: #fff;
	padding:2px 5px;
	font-size:11px;
	line-height:14px;

	border-radius:4px;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;

	box-shadow: 0 3px 5px #999;
	-webkit-box-shadow: 0 3px 5px #999;
	-moz-box-shadow: 0 3px 5px #999;
}
.formtip .tip {
	background-color:#C44;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
}
.tooltip .tip-title {
	font-weight: bolder;
	padding-bottom:3px;
	margin-bottom:3px;
	border-bottom:#999 solid 1px;
}
 
.tooltip .tip-text { padding:3px; }
.hint { padding:0 8px; }

/** Error page **/

body.tmce { background:#fff;padding:0;margin:0; }
.title:first-child, h1:first-child, h2:first-child, h3:first-child { margin-top:5px; }
.tmce h1,.tmce h2, .tmce h3{ color:#555;font-weight:normal;font-family:'Trebuchet MS', Helvetica, sans-serif;line-height:130%; }
.tmce h1 { margin:12px 0 20px 0;font-size:28px; }
.tmce h2 { margin:12px 0 16px 0;font-size:24px; }
.tmce h3 { margin:12px 0 12px 0;font-size:18px; }
.tmce h4 { margin:8px 0 12px 0;font-size:16px; }
.tmce p { margin-bottom:10px; }
.tmce li { margin-bottom:2px; }
.tmce ul,.tmce ol,.tmce dl { margin-bottom:10px;margin-left:30px; }
.tmce ul { list-style-type:disc; }
.tmce ol { list-style-type:decimal; }

/** Error page **/

body.error{ background:#f0f0f0;color:#555;font-size:12px; }
.error_page { width:640px;margin:0 auto;padding:30px 0 50px 0; }
.error_page #logo { margin:0 auto;float:none; }
.error_page .error_info { text-align:center;width:496px;margin:0 auto; }
.error_page .error_info .title:first-child{
	height:94px;
	line-height:94px;
	margin:20px 0;
	font-size:40px;
}
.error_page .error_info .title:first-child img,
.error_page .error_info .title:first-child span { vertical-align:middle; }
.error_page .error_info .title:first-child span { margin-left:16px; }
.error_page .error_info .title { margin:0; }
.error_page .error_info p.title { margin:0 0 16px 0; }
.error_page .error_info #seeDetails { font-weight:bold;color:#a4a4a4;font-size:9px; }
.error_page .error_info #details { text-align:left;margin:0 auto;width:220px;padding-top:8px;color:#a4a4a4;font-size:9px;line-height:12px; }


/** Ajax Form **/

.formMessage { display:none;font-size:18px;line-height:150%;font-weight:bold;padding:20px 10%;text-align:center; }
.formSpinner { display:none;background:url(/img/spinnerbig.gif) no-repeat center center; }
.spinnerLayer { position:absolute;width:100%;height:100%;top:0;left:0;background:#fff url(/img/spinner.gif) no-repeat center center; }